body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h1 {
    color: hsl(223, 100%, 64%);
}

form {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}
